body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000;
    font-family: "Bebas Neue", sans-serif;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Regular.OTF') format('otf'),
        /*Sélection de la police*/
        url('fonts/BebasNeue-Regular.OTF') format('otf');
    /*Sélection de la police*/
    font-weight: normal;
    font-style: normal;
}

.netfloux
{
	position: relative;
	width: 360px;
	height: 520px;
	overflow: hidden;
	transform: scale(.8);
}
.netfloux:before
{
	content: '';
	position: absolute;
	left: 0;
	bottom: -100px;
	width: 100%;
	height: 120px;
	background: #000;
	z-index: 2;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	transform: scaleX(1.5); 
}
.netfloux:after,
h3:after
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 400%;
	height: 100%;
	background: linear-gradient(to right, transparent, #000, #000);
	z-index: 3;
	animation: animate 2s linear forwards;
}
@keyframes animate
{
	0%
	{
		right: 0;
	}
	100%
	{
		right: -400%;
	}
}
.netfloux span
{
	position: absolute;
	top: 0;
	width: 120px;
	height: 100%;
	background: #fff;
}
.netfloux span:nth-child(1)
{
	background: #b00612;
	left:0;
}
.netfloux span:nth-child(2)
{
	background: #e50815;
	left:0;
	z-index: 1;
	transform-origin: top left;
	transform: skewX(24.8deg);
	box-shadow: 0 0 40px rgba(0,0,0,1);
}
.netfloux span:nth-child(3)
{
	background: #b00612;
	right:0;
}
h3
{
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: arial;
	color: #fff;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 10px;
	overflow: hidden;
}

.ligne {
    position: absolute;
    top: 110% !important; /* Distance par rapport au haut de la page */
    left: 0% !important; /* Distance par rapport à la gauche de la page */
    width: 100%;
    height: 4px;
    background-color: #f70000;
    opacity: 1; /* Initiallement invisible */
    transition: opacity 1s;
    
}
.ligne.visible {
    opacity: 1; /* Rendre visible */
}

.classement{
    position: absolute;
    top : 110% ;
    left : 44% ; 
    color :#fff;
    font-family: 'Bebas Neue', sans-serif;
}

.top1{
	position: absolute;
	top : 120%;
	left: 30%;
	color: #fff;
	font-family: 'Bebas Neue', sans-serif;
	
}